.panel-tabset .nav-item {
    font-size: 16px;
}

table colgroup col {
    width: auto !important;
}
.btn-action-primary {
    color: white;
    background-color: #005eb8 !important;
}
  
.btn-action-primary:hover {
    background-color: #ffeb3b !important;
    color: #000 !important;
}
  
.btn-action {
    min-width: 165px;
    border-radius: 30px;
    border: none;
}
  
.dt-buttons {
      /* margin-bottom: -7px; */
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: center;
      padding-bottom: 0.3em;
}
  
.figure-caption {
    color: #373a3c;
    font-size: 16px;
}
  
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: #495057;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
}
  
.tab-content {
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: #fff;
}
  
.quarto-title-banner {
    padding-top: 30px;
    padding-right: 0px;
    padding-bottom: 40px;
    padding-left: 0px;
    margin-bottom: 0px;
}
  
.quarto-title-meta  {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    margin-bottom: 0px;
    background-color: #edf0f8;
}
  
#title-block-header.quarto-title-block {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
    margin-bottom: 0px;
    background-color: #edf0f8;
}

.quarto-title {
        background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Created with Inkscape (http://www.inkscape.org/) --%3E%3Csvg:svg height='220.56' id='svg2' sodipodi:docname='NHSBT.eps' version='1.1' viewBox='0 0 789.66669 220.56' width='789.66669' xmlns='http://www.w3.org/2000/svg' xmlns:inkscape='http://www.inkscape.org/namespaces/inkscape' xmlns:sodipodi='http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd' xmlns:svg='http://www.w3.org/2000/svg'%3E%3Csvg:defs id='defs6'/%3E%3Csodipodi:namedview bordercolor='%23000000' borderopacity='0.25' id='namedview4' inkscape:deskcolor='%23d1d1d1' inkscape:pagecheckerboard='0' inkscape:pageopacity='0.0' inkscape:showpageshadow='2' pagecolor='%23FFFFFF'/%3E%3Csvg:g id='g8' inkscape:groupmode='layer' inkscape:label='ink_ext_XXXXXX' transform='matrix(1.3333333,0,0,-1.3333333,0,220.56)'%3E%3Csvg:g id='g10' transform='scale(0.1)'%3E%3Csvg:path d='m 83.9922,191.988 h 39.6018 c 39,0 86.394,9.602 86.394,58.203 0,54.598 -44.398,63 -86.394,63 H 83.9922 Z m 0,183.602 h 34.1988 c 35.403,0 79.204,7.801 79.204,50.988 0,48.602 -42.598,52.203 -81,52.203 H 83.9922 Z M 0,544.781 h 146.391 c 54,0 134.996,-15.601 134.996,-107.402 0,-49.789 -33.598,-84.59 -83.395,-93.59 v -1.199 c 56.996,-5.399 95.996,-43.801 95.996,-95.399 C 293.988,141.602 199.188,126 146.391,126 H 0 v 418.781' id='path12' style='fill:%23FFFFFF;fill-opacity:1;fill-rule:nonzero;stroke:none'/%3E%3Csvg:path d='m 361.195,575.98 h 80.399 V 126 h -80.399 v 449.98' id='path14' style='fill:%23FFFFFF;fill-opacity:1;fill-rule:nonzero;stroke:none'/%3E%3Csvg:path d='m 667.789,181.191 c 61.797,0 77.996,55.2 77.996,106.797 0,47.403 -25.199,91.801 -77.996,91.801 -52.199,0 -77.398,-45.598 -77.398,-91.801 0,-51 16.203,-106.797 77.398,-106.797 z m 0,260.989 c 91.797,0 161.992,-61.789 161.992,-163.789 0,-88.789 -59.394,-159.59 -161.992,-159.59 -101.996,0 -161.398,70.801 -161.398,159.59 0,102 70.203,163.789 161.398,163.789' id='path16' style='fill:%23FFFFFF;fill-opacity:1;fill-rule:nonzero;stroke:none'/%3E%3Csvg:path d='m 1034.38,181.191 c 61.8,0 78,55.2 78,106.797 0,47.403 -25.2,91.801 -78,91.801 -52.192,0 -77.392,-45.598 -77.392,-91.801 0,-51 16.2,-106.797 77.392,-106.797 z m 0,260.989 c 91.8,0 162,-61.789 162,-163.789 0,-88.789 -59.4,-159.59 -162,-159.59 -101.993,0 -161.388,70.801 -161.388,159.59 0,102 70.196,163.789 161.388,163.789' id='path18' style='fill:%23FFFFFF;fill-opacity:1;fill-rule:nonzero;stroke:none'/%3E%3Csvg:path d='m 1391.38,181.191 c 53.4,0 70.8,56.399 70.8,100.2 0,43.199 -20.4,98.398 -72,98.398 -52.2,0 -66.6,-57 -66.6,-98.398 0,-42.602 15,-100.2 67.8,-100.2 z m 73.8,-20.39 h -1.2 c -24,-30 -57,-42 -94.8,-42 -94.8,0 -129.6,77.988 -129.6,162.59 0,85.199 34.8,160.789 129.6,160.789 40.2,0 68.4,-13.789 92.4,-43.192 h 1.2 V 575.98 h 80.39 V 126 h -77.99 v 34.801' id='path20' style='fill:%23FFFFFF;fill-opacity:1;fill-rule:nonzero;stroke:none'/%3E%3Csvg:path d='m 1900.78,177.59 c 24.6,0 43.8,10.808 56.39,27.609 13.2,17.391 16.8,39.59 16.8,63.59 h -34.8 c -36,0 -89.39,-6 -89.39,-53.398 0,-26.391 22.2,-37.801 51,-37.801 z m -94.2,241.199 c 31.2,14.402 73.2,23.391 107.39,23.391 94.2,0 133.2,-38.989 133.2,-130.192 v -39.597 c 0,-31.2 0.6,-54.602 1.2,-77.391 0.6,-23.41 1.8,-45 3.6,-69 h -70.8 c -3,16.199 -3,36.59 -3.6,46.191 h -1.2 c -18.6,-34.191 -58.8,-53.39 -95.39,-53.39 -54.6,0 -108,33 -108,91.789 0,46.199 22.2,73.199 52.8,88.199 30.6,15 70.2,18 103.8,18 h 44.39 c 0,49.801 -22.2,66.602 -69.59,66.602 -34.2,0 -68.4,-13.2 -95.4,-33.602 l -2.4,69' id='path22' style='fill:%23FFFFFF;fill-opacity:1;fill-rule:nonzero;stroke:none'/%3E%3Csvg:path d='m 2126.38,434.988 h 76.2 v -42 h 1.2 c 25.2,35.403 59.4,49.192 101.4,49.192 73.19,0 104.99,-51.59 104.99,-121.192 V 126 h -80.39 v 164.988 c 0,37.801 -0.61,88.801 -52.2,88.801 -58.2,0 -70.8,-63 -70.8,-102.598 V 126 h -80.4 v 308.988' id='path24' style='fill:%23FFFFFF;fill-opacity:1;fill-rule:nonzero;stroke:none'/%3E%3Csvg:path d='m 2624.97,181.191 c 53.39,0 70.8,56.399 70.8,100.2 0,43.199 -20.4,98.398 -72,98.398 -52.19,0 -66.6,-57 -66.6,-98.398 0,-42.602 15,-100.2 67.8,-100.2 z m 73.79,-20.39 h -1.2 c -23.99,-30 -56.99,-42 -94.79,-42 -94.8,0 -129.59,77.988 -129.59,162.59 0,85.199 34.79,160.789 129.59,160.789 40.2,0 68.4,-13.789 92.4,-43.192 h 1.19 V 575.98 h 80.4 V 126 h -78 v 34.801' id='path26' style='fill:%23FFFFFF;fill-opacity:1;fill-rule:nonzero;stroke:none'/%3E%3Csvg:path d='m 3109.77,478.781 h -119.99 v 66 h 323.98 v -66 h -120 V 126 h -83.99 v 352.781' id='path28' style='fill:%23FFFFFF;fill-opacity:1;fill-rule:nonzero;stroke:none'/%3E%3Csvg:path d='m 3306.58,434.988 h 71.39 v -70.199 h 1.2 c 3.6,28.801 36.6,77.391 84.59,77.391 7.81,0 16.21,0 24.6,-2.391 v -81 c -7.19,4.199 -21.6,6.602 -35.99,6.602 -65.4,0 -65.4,-81.602 -65.4,-126 V 126 h -80.39 v 308.988' id='path30' style='fill:%23FFFFFF;fill-opacity:1;fill-rule:nonzero;stroke:none'/%3E%3Csvg:path d='m 3646.17,177.59 c 24.6,0 43.8,10.808 56.39,27.609 13.21,17.391 16.8,39.59 16.8,63.59 h -34.79 c -36,0 -89.4,-6 -89.4,-53.398 0,-26.391 22.2,-37.801 51,-37.801 z m -94.2,241.199 c 31.2,14.402 73.2,23.391 107.4,23.391 94.19,0 133.19,-38.989 133.19,-130.192 v -39.597 c 0,-31.2 0.6,-54.602 1.2,-77.391 0.6,-23.41 1.8,-45 3.6,-69 h -70.79 c -3.01,16.199 -3.01,36.59 -3.61,46.191 h -1.2 c -18.6,-34.191 -58.8,-53.39 -95.4,-53.39 -54.59,0 -107.99,33 -107.99,91.789 0,46.199 22.2,73.199 52.8,88.199 30.6,15 70.19,18 103.8,18 h 44.39 c 0,49.801 -22.2,66.602 -69.59,66.602 -34.2,0 -68.4,-13.2 -95.4,-33.602 l -2.4,69' id='path32' style='fill:%23FFFFFF;fill-opacity:1;fill-rule:nonzero;stroke:none'/%3E%3Csvg:path d='m 3871.77,434.988 h 76.2 v -42 h 1.2 c 25.2,35.403 59.4,49.192 101.4,49.192 73.19,0 104.99,-51.59 104.99,-121.192 V 126 h -80.39 v 164.988 c 0,37.801 -0.6,88.801 -52.21,88.801 -58.19,0 -70.79,-63 -70.79,-102.598 V 126 h -80.4 v 308.988' id='path34' style='fill:%23FFFFFF;fill-opacity:1;fill-rule:nonzero;stroke:none'/%3E%3Csvg:path d='m 4421.96,370.191 c -24.6,8.399 -42.6,13.2 -71.99,13.2 -21.61,0 -47.41,-7.801 -47.41,-34.2 0,-49.203 139.8,-18 139.8,-129.601 0,-71.988 -64.2,-100.789 -129.6,-100.789 -30.6,0 -61.8,5.398 -91.19,13.199 l 4.79,65.988 c 25.21,-12.59 51.6,-20.398 79.2,-20.398 20.4,0 52.8,7.808 52.8,37.801 0,60.597 -139.79,19.199 -139.79,130.8 0,66.59 58.19,95.989 121.19,95.989 37.8,0 62.4,-6 87.6,-11.399 l -5.4,-60.59' id='path36' style='fill:%23FFFFFF;fill-opacity:1;fill-rule:nonzero;stroke:none'/%3E%3Csvg:path d='m 4585.75,281.391 c 0,-43.801 17.4,-100.2 70.8,-100.2 52.79,0 67.79,57.598 67.79,100.2 0,41.398 -14.39,98.398 -66.59,98.398 -51.6,0 -72,-55.199 -72,-98.398 z m -81,153.597 h 76.8 v -43.797 h 1.2 c 18,29.989 48.59,50.989 96,50.989 94.79,0 129.59,-75.59 129.59,-160.789 0,-84.602 -34.8,-162.59 -131.39,-162.59 -34.2,0 -62.4,8.398 -90.6,42.597 h -1.2 V 0 h -80.4 v 434.988' id='path38' style='fill:%23FFFFFF;fill-opacity:1;fill-rule:nonzero;stroke:none'/%3E%3Csvg:path d='m 4873.16,575.98 h 80.39 V 126 h -80.39 v 449.98' id='path40' style='fill:%23FFFFFF;fill-opacity:1;fill-rule:nonzero;stroke:none'/%3E%3Csvg:path d='m 5146.15,177.59 c 24.6,0 43.8,10.808 56.39,27.609 13.21,17.391 16.8,39.59 16.8,63.59 h -34.79 c -36,0 -89.4,-6 -89.4,-53.398 0,-26.391 22.2,-37.801 51,-37.801 z m -94.2,241.199 c 31.2,14.402 73.2,23.391 107.4,23.391 94.19,0 133.19,-38.989 133.19,-130.192 v -39.597 c 0,-31.2 0.6,-54.602 1.21,-77.391 0.59,-23.41 1.79,-45 3.59,-69 h -70.79 c -3.01,16.199 -3.01,36.59 -3.61,46.191 h -1.2 c -18.6,-34.191 -58.8,-53.39 -95.4,-53.39 -54.59,0 -107.99,33 -107.99,91.789 0,46.199 22.2,73.199 52.8,88.199 30.6,15 70.19,18 103.8,18 h 44.39 c 0,49.801 -22.2,66.602 -69.59,66.602 -34.2,0 -68.4,-13.2 -95.4,-33.602 l -2.4,69' id='path42' style='fill:%23ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none'/%3E%3Csvg:path d='m 5371.75,434.988 h 76.2 v -42 h 1.21 c 25.19,35.403 59.39,49.192 101.39,49.192 73.2,0 104.99,-51.59 104.99,-121.192 V 126 h -80.39 v 164.988 c 0,37.801 -0.6,88.801 -52.21,88.801 -58.19,0 -70.79,-63 -70.79,-102.598 V 126 h -80.4 v 308.988' id='path44' style='fill:%23ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none'/%3E%3Csvg:path d='m 5764.74,376.191 h -59.39 v 58.797 h 59.39 v 61.793 l 80.4,25.797 v -87.59 h 71.4 v -58.797 h -71.4 v -144 c 0,-26.402 7.2,-51 37.8,-51 14.4,0 28.2,3.008 36.6,8.411 l 2.4,-63.602 c -16.8,-4.801 -35.4,-7.199 -59.4,-7.199 -62.99,0 -97.8,38.988 -97.8,100.199 v 157.191' id='path46' style='fill:%23ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none'/%3E%3Csvg:path d='m 5900.58,806.73 v 839.45 H 3826.63 V 806.73 h 2073.95 v 0 0' id='path48' style='fill:%23ffffff;fill-opacity:1;fill-rule:evenodd;stroke:none'/%3E%3Csvg:path d='M 5897.17,807.531 V 1646.98 H 3823.22 V 807.531 h 2073.95 v 0 0' id='path50' style='fill:%23ffffff;fill-opacity:1;fill-rule:evenodd;stroke:none'/%3E%3Csvg:path d='M 5922.46,799.473 V 1654.24 H 3810.65 V 799.473 h 2111.81 v 0 0' id='path52' style='fill:%23ffffff;fill-opacity:1;fill-rule:evenodd;stroke:none'/%3E%3Csvg:path d='m 4017.15,1571.76 h 229.55 l 140.99,-477.1 h 1.95 l 96.58,477.1 h 173.5 l -145.8,-688.018 h -228.76 l -143.85,476.078 h -1.95 L 4043.69,883.742 H 3870.2 l 146.95,688.018 v 0 0' id='path54' style='fill:%23005EB8;fill-opacity:1;fill-rule:evenodd;stroke:none'/%3E%3Csvg:path d='m 4727.7,1571.76 h 184.24 l -54.13,-263.21 h 217.77 l 54.26,263.21 h 184.24 L 5171.14,883.742 H 4986.9 l 61.1,294.678 h -217.9 l -61.11,-294.678 h -184.24 l 142.95,688.018 v 0 0' id='path56' style='fill:%23005EB8;fill-opacity:1;fill-rule:evenodd;stroke:none'/%3E%3Csvg:path d='m 5798.94,1416 c -35.47,16.72 -83.76,31.47 -151.73,31.47 -72.89,0 -132.06,-10.75 -132.06,-66.02 0,-97.51 267.09,-61.12 267.09,-270.09 0,-190.18 -176.47,-239.52 -336.1,-239.52 -70.97,0 -152.78,16.828 -212.85,35.601 v 0 l 43.37,139.969 v 0 c 36.37,-23.7 109.4,-39.5 169.48,-39.5 57.22,0 146.82,10.88 146.82,81.83 0,110.44 -267.11,69.02 -267.11,263.1 0,177.5 155.77,230.7 306.59,230.7 84.81,0 164.57,-8.93 210.92,-30.56 v 0 L 5798.94,1416 v 0 0' id='path58' style='fill:%23005EB8;fill-opacity:1;fill-rule:evenodd;stroke:none'/%3E%3C/svg:g%3E%3C/svg:g%3E%3C/svg:svg%3E");
        display: block;
        background-color: #005EB8;
        background-repeat: no-repeat;
        background-size: 150px;
        background-position: 0px 0px;
}
  
.quarto-title p.subtitle {
        margin-top: 10px;
        font-size: 22px;
        font-weight: 300;
}
  
.quarto-title h1.title {
        text-indent: 3.7em;
        font-size: 30px;
        padding-top: 20px; /* add this line */
}
  
.callout-caption-container {
    color: #005EB8;
}
  
.callout {
    background-color: white;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: .25rem;
}
  
.callout-note.callout {
    border-left-color: #005EB8;
    background-color: white;
}
  
.callout.callout-style-simple {
    padding: .01em .7em;
}
  
.title {
    font-size: 28px;
    font-weight: lighter;
}
  
h1, .h1 {
    font-size:30px;
    font-weight:600;
}
  
h2, .h2 {
   font-size:20px;
   font-weight:600;
}
  
h3, .h3 {
   font-size:18px;
   font-weight:600;
}
  
.header-section-number {
    color: #373a3c;
}
  
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
  
.opensans {
    font-family: "Open Sans", sans-serif;
}
  
body {
    background-color: #edf0f8;
   -moz-osx-font-smoothing:grayscale;
   -webkit-font-smoothing:antialiased;
}